<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>database-url</param-name>
        <param-value>esd-cw.cqlibx6ep0t7.eu-central-1.rds.amazonaws.com</param-value>
    </context-param>
    <context-param>
        <param-name>database-port</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <param-name>database-name</param-name>
        <param-value>XYZ_Assoc</param-value>
    </context-param>
    <context-param>
        <param-name>database-username</param-name>
        <param-value>esdcw</param-value>
    </context-param>
    <context-param>
        <param-name>database-password</param-name>
        <param-value>esd-pass</param-value>
    </context-param>
    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.ApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.ClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageUserServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.AdminManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressLookup</servlet-name>
        <servlet-class>com.esd.cw.servlet.AddressLookupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/ApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimServlet</servlet-name>
        <url-pattern>/claim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnPaidMemberServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.UnPaidMemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnPaidMemberServlet</servlet-name>
        <url-pattern>/upmember</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaidMemberServlet</servlet-name>
        <servlet-class>com.esd.cw.servlet.PaidMemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaidMemberServlet</servlet-name>
        <url-pattern>/pmember</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.esd.cw.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
            com.esd.cw.MyServletContextListener
        </listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageUserServlet</servlet-name>
        <url-pattern>/admin/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressLookup</servlet-name>
        <url-pattern>/address-lookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
        <servlet-name>ChargeAllUsers</servlet-name>
        <url-pattern>/admin/ChargeAllUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
